<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For Someone Special ❤️</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Hey ❤️</h1>
    <p>
        From the moment I met you,  
        my world became more beautiful 🌹  
    </p>

    <h2>Will you be mine forever?</h2>

    <div class="buttons">
        <button class="yes" onclick="sendAnswer('YES')">YES 💖</button>
        <button class="no" onclick="moveNo()">NO 😢</button>
    </div>

    <p id="result"></p>
</div>

<script src="/static/script.js"></script>
</body>
</html>
